.logo {
  height: 100px;
}

.avatar {
  height: 150px;
}

.imgproy {
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.vizprev {
  background-color: #eee;
  border: 1px solid #888;
}

.eje {
  font-family: 'Roboto Condensed';
  font-size: 14px;
}

.titulo-grafica {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
}

path.line {
  fill: none;
  stroke: rgb(248, 8, 8);
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #000;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.guideline {
  margin-right: 100px;
  float: right;
}